<div class="game">
  <div class="challengeSection">
    {{#word}}

      {{^guessed}}
        {{placeholder}}
      {{/guessed}}
      {{#guessed}}
        {{letter}}
      {{/guessed}}

    {{/word}}
  </div>
  <div class="guessSection">
    <form action="/" method="post">
      <input type="text" name="guess" placeholder="Guess 1 Letter" autofocus>
      <button type="submit">Make a Guess</button>
    </form>
  </div>
  <div class="statusSection">
    <p>Letters Guessed: </p>
    {{#lettersGuessed}}
      {{guess}}
    {{/lettersGuessed}}
  </div>
</div>
