<div class="gameboard">
  <p id="guessLeft">You have 0 guesses left</p>
  <br>
  <p id="blanks">_ _ _ _ _ _ _</p>
  <br>
  <form action="/" method="post">
    <input type="text" name="guess" placeholder="Guess One Letter">
    <button type="submit">Make a Guess</button>
  </form>
</div>
